<head>
  <title>irb onLine: About</title>
</head>
<body class="about">
  <div style="text-align:center;"><h2>Simple app that provides you access to ruby console</h2>
    twitter: <a href="https://twitter.com/#!/_sfate" alt="">@_sfate</a><br />
    github: <a href="https://github.com/Sfate" alt="">sfate</a><br />
    back: <a href="/">to main page</a>
  </div>
  <div class="footer">
    ©&nbsp;Sfate
  </div>
</body>
