<script type="text/javascript" src="/javascripts/main.js"></script>
<div class="stub">
  <%= @ruby_v %> :001 > puts "hello, sinatra!"
  hello, sinatra!
  => nil
  <%= @ruby_v %> :002 >
</div>

<div class="main">
  "<%= @ruby_v %> >"
</div>

