<html>
  <head>
    <title>irb onLine</title>
    <link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>

