body {
  background-color:#121212;
  color:#fcffba;
  font-family:"Lucida Console", Monaco, monospace;;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body.about {
  background-image: url('/images/ruby_logo.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  font-size:26px;
}

div.error {
  white-space: pre;
}

a {
  color:#fa5757;
}

a:visited {
  color:#fa5757;
}

#form {
  display:inline;
}

#input {
  margin-left:-1px;
  background-color:#121212;
  color:#fcffba;
  font-family:"Lucida Console", Monaco, monospace;
  font-size:16px;
  border:none;
  outline:none;
  width:80%;
}

.cmd {
  width:100%;
  display:block;
  margin:-3px 0;
}

img.github {
  position:absolute;
  top:0;
  right:0;
  border:0;
}

h1 {
  display:inline;
}

a.about {
  font-size:20px;
}

.unsupported {
  filter:alpha(opacity=90);
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
  -moz-opacity:.90;
  -khtml-opacity:0.9;
  opacity:0.9;
  background-color:black;
  position:fixed;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  cursor:default;
}

.unsupported .text_content {
  position:fixed;
  top:40%;
  color:rgba(255, 73, 73, 1);
  font-size:50px;
  text-shadow:8px 0 0 rgba(0, 0, 255, 0.3);
}

.footer {
  color:#DB4040;
  font-size:12px;
  text-decoration:underline;
  text-align:left;
  position:absolute;
  bottom:5px;
}

