body {
  background-color:#121212;
  color:#fcffba;
  font-family:"Lucida Console", Monaco, monospace;;
}

div.error {
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
  white-space: pre;
}

a {
  color:#fa5757;
}

a:visited {
  color:#fa5757;
}

div.stub {
  display:none;
}

#form {
  display:inline;
}

#input {
  background-color:#121212;
  color:#fcffba;
  font-family:"Lucida Console", Monaco, monospace;
  font-size:16px;
  border:none;
  outline:none;
  width:80%;
}

.cmd {
  width:100%;
  display:block;
  margin:-3px 0;
}

img.github {
  position:absolute;
  top:0;
  right:0;
  border:0;
}

h1 {
  display:inline;
}

a.about {
  font-size: 20px;
}

